* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
p {
  margin: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}
.navbar-collapse {
  justify-content: end;
}
body {
  padding-left: 70px;

  background-color: rgb(55, 5, 88) !important;
}
hr {
  color: rgb(255, 255, 255) !important;
  opacity: 100% !important;
  padding-bottom: 30px !important;
  margin-right: 70px !important;
}
.informacion {
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: aqua;
  width: 200px;
  border-radius: 0 20px 20px 0;
}

.direccion {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
.telefono {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
.correo {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
.datos_personales {
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: aqua;
  width: 285px;
  border-radius: 0 20px 20px 0;
  margin-top: 40px;
  margin-bottom: 20px;
}
.soft_skills {
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: aqua;
  width: 180px;
  border-radius: 0 20px 20px 0;
  margin-top: 40px;
  margin-bottom: 20px;
}
.idiomas {
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: aqua;
  width: 180px;
  border-radius: 0 20px 20px 0;
  margin-top: 40px;
  margin-bottom: 20px;
}
i {
  padding-right: 10px;
}
aside img {
  width: 220px;
  border-style: solid;
  margin-bottom: 40px !important;
}

main {
  background: url(../images/blanco.jpg);
  padding-left: 50px !important;
  padding-right: 80px !important;
  padding-bottom: 20px !important;
}
.contenido {
  display: flex;
  gap: 30px;
}
.perfil {
  display: flex;
  align-items: baseline;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 10px;
  background-color: aqua;
  width: 190px;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.experiencia {
  display: flex;
  align-items: baseline;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 10px;
  background-color: aqua;
  width: 280px;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.educación {
  display: flex;
  align-items: baseline;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 10px;
  background-color: aqua;
  width: 270px;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.intereses {
  display: flex;
  align-items: baseline;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 10px;
  background-color: aqua;
  width: 260px;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}
footer {
  display: flex;
  align-items: center;
  color: aliceblue;
  justify-content: center;
  padding: 30px;
  gap: 20px;
}
footer img {
  width: 40px;
  height: 35px;
}
.navbar-nav a:hover {
  color: aqua !important;
}
div [id] {
  scroll-margin-top: 120px;
}
