* {
  margin: 0;
  padding: 0;
  font-family: "Pacifico", cursive;
}
p {
  margin: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}
body {
  background-image: url(../images/universe2.jpg);
  background-size: cover;
}

.navbar-collapse {
  justify-content: end;
}

.presentación {
  color: aliceblue;
  display: flex;
  justify-content: center;
  font-size: 50px;
}
.descripción {
  color: aliceblue;
  text-align: center;
  align-items: center;
}
.navbar-collapse img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 0.4s ease-in-out;
}
footer {
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
footer img {
  width: 50px;
  height: 45px;
  padding: 10px;
}

.carousel-caption img:hover {
  filter: opacity(0.5);
  transition: all 0.4s ease-in-out;
}
.carousel-caption img {
  width: 100%;
}
.caritafeliz {
  width: 75%;
  display: flex;
  justify-content: center;
  padding: 50px;
  margin-top: 30px;
  margin-left: 50px;
}
.card-img-overlay img {
  width: 100%;
  padding: 50px;
  margin-top: 80px;
}
.imagen img:hover {
  filter: opacity(0.5);
  transition: all 0.4s ease-in-out;
}
.tecnologias {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tecnologias2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row-justify {
  justify-content: center;
}
hr {
  color: aliceblue !important;
}
.dropdown-menu a:hover {
  color: rgb(42, 150, 15);
}

.face {
  width: 180px;
  height: 100px;
  margin-top: 10px;
}
.carita-contacto {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn-transparent {
  font-size: 25px !important;
}
.col-xs-12 i {
  color: aliceblue;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.titlee{
  width: 750px;
  height: 75px;
  border: 10px solid white;
  border-radius: 100px;
  text-align: center;
  
}